.container {
  background-color: var(--gray-light);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% + 30px);
  min-width: 320px;
  padding: 40px;
  position: fixed;
  right: 0;
  top: 90px;
  width: 25%;
}
