.container {
  background-color: #efefef;
  display: flex;
  height: calc(100% + 30px);
  flex-direction: column;
  padding: 40px;
  position: fixed;
  right: 0;
  top: 90px;
  bottom: 0;
  width: 25%;
  min-width: 320px;
}
