.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.name {
  flex: 1;
}

.amount {
  text-align: end;
}
