.input-form {
  background-color: white;
  border-radius: var(--border-radius-standard);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

#name {
  width: 125px;
}

#recipe-name {
  width: 275px;
}

input {
  background-color: var(--gray-light);
  border-radius: var(--border-radius-standard);
  border: none;
  padding: 7px;
  width: 100px;
}

label {
  color: black;
  font-family: "Roboto";
  font-size: 14px;
}

.description {
  background-color: lightgrey;
  border-radius: var(--border-radius-standard);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ingredient-row {
  align-items: center;
  background-color: Gainsboro;
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.ingredient-input {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.input-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-wrapper-method {
  background-color: lightgrey;
  border-radius: var(--border-radius-standard);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  textarea {
    background-color: var(--gray-light);
    border-radius: var(--border-radius-standard);
    border: none;
    max-width: 100%;
    min-height: 150px;
    min-width: 100%;
    padding: 10px;
  }
}

.remove-ingredient-button {
  background-color: var(--orange-medium);
  border-radius: var(--border-radius-standard);
  border: none;
  color: white;
  padding: 5px;
  width: 25px;
}

.add-ingredient-button {
  align-self: center;
  background-color: var(--orange-medium);
  border-radius: var(--border-radius-standard);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;

  &:hover {
    background-color: var(--orange-dark);
    color: white;
  }
}

app-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--green-light);
  font-size: 60px;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  padding: auto;
  background-color: white;

  &:hover {
    background-color: var(--orange-dark);
    color: white;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
