.modal {
  background-color: var(--green-dark);
  border-radius: var(--border-radius-standard);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 20px;
  width: 600px;
}

.backdrop {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: rgb(0, 0, 0, 0.4);
}

.open {
  display: flex;
}

button {
  background: none;
  border: none;

  img {
    height: 30px;
    width: 30px;
  }
}

.header-bar {
  display: flex;
  justify-content: space-between;
}
