.menu {
  display: none;
  position: fixed;
  height: 100px;
  width: 150px;
  right: 0;
  top: 80px;
  padding: 10px 0;
  border-radius: 4px;
  z-index: 1;
  flex-direction: column;
}

ul {
  list-style-type: none;
  background-color: #ff8e72;
  border-radius: 0 0px 4px 4px;
}

.backdrop {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.open {
  display: flex;
}
