.menu {
  border-radius: var(--border-radius-standard);
  display: none;
  flex-direction: column;
  height: 100px;
  padding: 10px 0;
  position: fixed;
  right: 0;
  top: 80px;
  width: 150px;
  z-index: 1;
}

ul {
  background-color: #ff8e72;
  border-radius: 0 0 var(--border-radius-standard) var(--border-radius-standard);
  list-style-type: none;
}

.backdrop {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.open {
  display: flex;
}
