.card {
  border-radius: 4px;
  height: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title {
  display: flex;
  opacity: 0;
  position: static;
  padding: 10px;
}

.show {
  opacity: 0.8;
  background-color: #4ce0b3;
}
