.card {
  background-size: cover;
  border-radius: var(--border-radius-standard);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: end;
}

.title {
  border-radius: var(--border-radius-standard);
  display: flex;
  opacity: 0;
  padding: 10px;
  position: static;
}

.show {
  background-color: var(--green-light);
  display: flex;
  justify-content: center;
  opacity: 0.95;
}
