.card {
  background-size: cover;
  border-radius: var(--border-radius-standard);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: end;
}

.title {
  display: flex;
  opacity: 0;
  padding: 10px;
  position: static;
}

.show {
  background-color: #4ce0b3;
  opacity: 0.8;
}
