<div class="container">
  <div class="cards">
    <div class="card" (click)="openModal()">+</div>
    <app-card
      *ngFor="let recipe of recipes"
      [imageURL]="recipe.imageURL"
      [name]="recipe.name"
      [id]="recipe.id"
      (click)="handleClick($event)"
    ></app-card>
  </div>
  <app-aside>
    <div class="recipe" [ngClass]="{ show: showRecipe }">
      <h3>{{ selectedRecipe.name }}</h3>
      For {{ selectedRecipe.portionSize }} persons
      <app-grocery-list [groceryList]="selectedRecipe.ingredients"></app-grocery-list>
    </div>
  </app-aside>
</div>

<app-modal>
  <h2 title>Add a new recipe</h2>
  <app-new-recipe></app-new-recipe>
</app-modal>
