<div class="container">
  <div class="cards">
    <app-card
      *ngFor="let recipe of plannedRecipes"
      [imageURL]="recipe.imageURL"
      [portionSize]="recipe.portionSize"
      (answer)="removePlannedRecipe(recipe.id)"
    >
      {{ recipe.name }}
    </app-card>

    <div class="card">
      <app-button (click)="openModal()"><p>+</p></app-button>
    </div>
  </div>

  <app-aside>
    <app-grocery-list [groceryList]="groceryList"></app-grocery-list>
  </app-aside>
</div>

<app-modal>
  <h2 title>Add a recipe to planner</h2>
  <form [formGroup]="recipeSelector" (ngSubmit)="onSubmit()">
    <select formControlName="selectedRecipe">
      <option [value]="0" type="number">Select a recipe</option>
      <option type="number" *ngFor="let recipe of recipes" [value]="recipe.id">
        {{ recipe.name }}
      </option>
    </select>
    <app-button type="submit"><p>+</p></app-button>
  </form>
</app-modal>
