.container {
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: 75%;
}

.card {
  background-color: var(--gray-light);
  border-radius: var(--border-radius-standard);
  display: flex;
  height: 120px;
  justify-content: end;
  padding: 20px;
  text-align: end;
}

p {
  color: var(--green-light);
  font-size: 64px;
}

select {
  background-color: var(--green-light);
  border-radius: var(--border-radius-standard);
  border: none;
  color: white;
  font-size: 24px;
  height: 40px;
  padding: 5px;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
