.container {
  display: flex;
}

.cards {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 40px;
  width: 75%;
}

.card {
  border-radius: 4px;
  height: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

p {
  color: #4ce0b3;
  font-size: 64px;
}

select {
  font-size: 24px;
  border-radius: 4px;
  border: none;
  background-color: #4ce0b3;
  color: white;
  height: 40px;
  padding: 5px;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
