.card {
  align-items: center;
  background-color: var(--orange-light);
  border-radius: var(--border-radius-standard);
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding-right: 20px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.description {
  align-items: center;
  color: white;
  display: flex;
  font-size: 24px;
  gap: 30px;
  height: 100%;
  min-width: 640px;

  .recipe-image {
    border-radius: var(--border-radius-standard) 0 0 var(--border-radius-standard);
    height: 100%;
    object-fit: cover;
    width: 360px;
  }

  app-button {
    background-color: var(--orange-medium);
    border-radius: var(--border-radius-standard);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }

  .trash-icon {
    height: 20px;
    padding: 2px;
  }
}

.portion-size {
  color: white;
  font-size: 48px;
}
