nav {
  align-items: center;
  background-color: var(--orange-dark);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 50px;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

h1 {
  color: white;
  font-size: 54px;
  font-weight: 800;

  font-family: "Hello-Fresh";
}

a {
  text-decoration: none;
}
